<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Title of the document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="../HomePage/index.html">
        <img src="../images/trayIcon.png" width="30" height="30" class="d-inline-block align-top" alt="" />
        Upload
      </a>
    </nav>
  </div>

  <div class="container">
    <form id="form-config">
      <div class="form-group row">
        <label for="directory-input-path" class="col-sm-3 col-form-label">Directory folder upload</label>
        <div class="col-sm-7">
          <input type="text" class="form-control directory-path" placeholder="Directory folder upload"
            id="input-directory-path" placeholder="path" name="input-directory-path" />
        </div>
      </div>
    </form>
    <button type="submit" class="btn btn-primary " id="submit-config">Submit</button>
    <button type="submit" class="btn btn-primary " id="submit-config">Submit</button>
    <button type="submit" class="btn btn-primary " id="submit-config">Submit</button>
  </div>
</body>

</html>
